# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dependencies & Build
node_modules/
**/node_modules/
vendor/
**/vendor/
.next/
**/.next/
dist/
build/

# Environment files
.env
.env.*
!.env.example

# Antigravity / Gemini
.antigravityignore
.gemini/
.agents/

# Postman
.postman/

